@media screen and (min-width:1200px) {
    .container {
        max-width: 1158px;
    }

    .about {
        display: flex;
        gap: 24px;
    }

    .about-pre-title{
        gap: 0;
    }

    .customers {
        padding-bottom: 120px;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        display: flex;
        flex-wrap: nowrap;
        }

    .hero {
        padding-bottom: 120px;
        }

    .hero-icon {
        display: flex;
            }

    /* .hero-item:not(:last-child) {
        margin-right: 24px;
} */

    .hero-list {
        flex-direction: none;
        flex-wrap: nowrap;
}

    .hero-text {
        font-weight: 400;
    }

    .hero-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        }

    .modal {
        width: 408px;
        min-height: 584px;
        }

        .section-button {
            padding-top: 188px;
            padding-bottom: 188px;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/background-hero.jpg);
                }

        @media (min-device-pixel-ratio: 2),
           (min-resolution: 192dpi),
           (min-resolution: 2dppx) {
        .section-button {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/background-hero-x2.jpg);
         }
        }
        .header {
            padding-top: 24px;
            padding-bottom: 25px;
        }

        .header-pre-contacts {
            display: flex;
            margin-left: auto;
            align-items: center;
            }

            .current::after {
                bottom: -29px;
                }
            
    .footer .footer-main {
        gap: 0;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
    }

        .footer .footer-main {
            width: 100%;
        }

        .footer-logo-text {
            margin-right: 120px;
        }

        .container-social-media {
            margin-right: 80px;
        }

        .footer .subscribe-title {
            text-align: left;
        }

        .footer .container-footer-subscribe .footer-subscribe-form {
            flex-wrap: nowrap;
        }
        .subscribe-button {
            margin-left: 0;
        }

    
    
    }
