@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
        }

    .customers-soc-list {
        gap:  72px 24px;
        align-items: center;
        justify-content: center;
        }

    .customers-soc-item {
        width: 168px;
        height: 88px;
        }

    .customers-soc-list .customers-soc-link {
        width: 168px;
        height: 88px;
        }

    .team-list{
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 72px;
        justify-content: center;
        }

    .hero {
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 0;
        padding-right: 0;    
        }

    .hero-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        row-gap: 72px;
        column-gap: 24px;
        row-gap: 72px;
        }
            

    .hero-list .hero-item {
        width: calc((100% - 24px) / 2);
        }

    .modal {
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        width: 408px;
        min-height: 586px;
        }
    }